body {
    font-family:'Roboto', sans-serif;
    color: #ffffff;
    background-color: #f5f6f8;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 2rem 2rem;
}

.registre {
    background-color: #15181f;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 4rem 7rem;
    display: flex;
    justify-content: space-evenly;
    height: 650px;
}

h1{
    font-weight: bold;
}

input {
    background-color: #1f232b;
    border: 2px solid #1f232b;
    border-radius: 0.2rem;
    padding: 1.5rem 1rem;
    margin: 10px 0px;
    min-width: 12rem;
}
 img {
     width: 600px;
 }

p{
    margin: 0;
}

.formulari {
    margin: 40px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    'nom correu'
    'password password'
    'adreça adreça'
    'poblacio codi_postal'
    'submit inicia';
}

.form-item {
    text-align: initial;
}

#submit-btn {
    border-radius: 2rem;
    min-width: 10rem;
    background-color: #3884F2;
}

.inicia {
    padding: 1.5rem 0rem;
    margin: 10px 0px;
}

.formulari a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    text-align: center;
}

.logo a {
    color: #1f232b;
    text-decoration: none;
}

input{
    color:white;
}

.reg {
    color: #1f232b;
    text-decoration: none;
}
